<a href="https://colab.research.google.com/github/LukeCruz/Python-do-zero-/blob/master/Python_do_zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Variáveis

O que são variáveis ? variáveis são itens mutáveis ou não , que são declarações feitas para se 'guardar' uma informação . como por exemplo o nome de uma pessoa.

In [61]:
meuNome = 'Lucas'

**Como criar variaveis no python**

Exitem diversas formas no Python de declarar uma variável ⭐

In [77]:
variavel = 'olá mundo !'

Declaração de uma variável

In [78]:
variavel

'olá mundo !'

Declação de variáveis distintas

In [83]:
var4 = 4
var5 = 5

declaração de mais de uma variável ao mesmo tempo

In [79]:
var1,var2,var3 = 1,2,3

In [80]:
var1

1

In [81]:
var2

2

In [82]:
var3

3

Existem diversos **tipos** de variáveis que podemos declarar 

 * Inteiro - int
 * ponto flutuante - float
 * Texto - String
 * Lista - List
 * Tupla - Tuple
 * sets - sets

Para exibirmos o tipo de uma variável utilizamos o metodo **type()**

In [96]:
tipoA = [1,2,3]
tipoB = 1
tipoC = .1
tipoD = '1'
tipoE = (1,2,3)
tipoF = {1,2,3}

##**list** 
(lista),  pode ser escrita como uma lista de valores (itens) separados por vírgula, entre colchetes. Os valores contidos na lista não precisam ser todos do mesmo tipo.

In [97]:
type(tipoA)

list

##Int 
- numeros inteiros

In [90]:
type(tipoB)

int

##Float 
- numeros com ponto flutuante 
  exemplo : 1,2233

In [91]:
type(tipoC)

float

##string 
- Do tipo texto

In [92]:
type(tipoD)

str

##Tuple 
- uma sequência de valores separados por virgula

In [95]:
type(tipoE)

tuple

##Set

Python também inclui um tipo de dados para conjuntos, chamado set. Um conjunto é uma coleção desordenada de elementos, sem elementos repetidos. Usos comuns para conjuntos incluem a verificação eficiente da existência de objetos e a eliminação de itens duplicados. Conjuntos também suportam operações matemáticas como união, interseção, diferença e diferença simétrica.

Chaves ou a função set() podem ser usados para criar conjuntos. Note: para criar um conjunto vazio você precisa usar set(), não {}; este último cria um dicionário vazio.

In [86]:
type(tipoF)

set

In [98]:
setting = {1,1,1,2,3,4,5,6,6,4,3}

In [99]:
setting

{1, 2, 3, 4, 5, 6}

Python é uma linguagem **tipada**, ou seja, você não precisa necessariamente declarar o tipo de uma variavel.

In [66]:
ab = '1'
a,b,c = 2,2,3

In [22]:
type(ab)

str

**LISTAS** - Listas são aglomerados de itens ou variaveis dentro de um 'espaço' 
  Por exemplo , uma sequência de numeros dentro de uma mesma variavel declarada se torna uma lista.

In [60]:
lista = [1,2,3,4,5,6];
  
display(lista)

[1, 2, 3, 4, 5, 6]

#**Operações matemáticas**

In [45]:
variavelA = 1
variavelB = 3

##SOMA

In [46]:
variavelA + variavelB

4

In [48]:
variavelC =  variavelA + variavelB

In [49]:
variavelC

4

##SUBTRAÇÃO

In [51]:
  variavelA - variavelB

1

In [52]:
variavelD =  variavelA - variavelB

In [53]:
variavelD

1

##MULTIPLICAÇÃO

In [54]:
  variavelA * variavelB

12

##DIVISÃO

In [55]:
  variavelA / variavelB

1.3333333333333333

##Divisão com resto inteiro

In [56]:
  variavelA // variavelB

1

In [57]:
  variavelA % variavelB

1

##EXPONENCIAL

In [58]:
  variavelA ** variavelB

64

Operações no python seguem a mesma ordem da matemática, e nós podemos utilizar parenteses para determinar a ordem das operações

In [59]:
(variavelA + variavelB) * variavelC -variavelD

27

# Print e Display

Print e display são **metódos** para exibição de informação no Python. 
 
 Existem diferenças na exibição de cada um desses metódos, porém agora não será importante para nossos estudos.

In [62]:
see = 'hello Word'

In [63]:
print(see)

hello Word

In [64]:
display(see)

'hello Word'

# Input

O metodo **input** serve como entrada de dados do usuário, ou seja é uma variável onde o usuário determina seu valor.

In [65]:
entrada = input('qual sua idade:')

qual sua idade:28

In [68]:
print('Eu tenho:', entrada)

Eu tenho: 28

#Comparações em Python

##Booleanos (bool)

Além das variáveis de tipo inteiro nós temos outros tipos como as variáveis booleanas que são representações de valores binários de Verdadeiro e Falso (True e False respectivamente)

In [105]:
var = 1

In [106]:
var > 2

False

In [ ]:
var < 2

As comparações em Python servem para dizer se 


 1. ✅ Um variável é maior ou menor que outra
 2. ✅ Uma variável é igual a outra
 3. ✅ Uma variável é igual a outra
 4. ✅ Uma variável é maior ou igual
 5. ✅ ENTRE OUTRAS MUITAS POSSIBILIDADES

In [85]:
# Operadores de comparação :

valor = 1

In [86]:
 #IGUAL A...
valor == 1

True

In [87]:
 #MAIOR OU IGUAL
valor >= 1

True

In [88]:
 #MENOR QUE...
valor < 1

False

In [115]:
 #MENOR OU IGUAL

valor <= 1

True

In [70]:
comparacao = 1

In [107]:
print("comparacao é igual 1", comparacao == 1)

print("comparacao maior que 1", comparacao > 1)
print("comparacao maior igual a 1", comparacao >= 1)
print("comparacao menor que 1", comparacao < 1)
print("comparacao menor igual a 1", comparacao <= 1)
print("comparacao igual a 1", comparacao == 1)
print("comparacao diferente de 1", comparacao != 1)
print("comparacao entre 1 e 2", 1 < comparacao < 2)

comparacao é igual 1 True
comparacao maior que 1 False
comparacao maior igual a 1 True
comparacao menor que 1 False
comparacao menor igual a 1 True
comparacao igual a 1 True
comparacao diferente de 1 False
comparacao entre 1 e 2 False

##Operações DE COMPARAÇÃO

Expressões de COMPARAÇÃO são operações que determinam duas ou mais condiçoes de entrada sendo verdadeiras ou falsas.

Um exemplo pratico é ;
 *  fruta1 = banana
 * fruta2 = maçã 

 * Ambas são frutas ? **TRUE**
 * Ambas são amarelas ? **FALSE**

  Esse é um exemplo de condionais, se ambas são frutas , a condição de fruta é verdadeira para as duas, e neste caso utilizamos a condicional **AND** (E) 

  *  🍌 Banana E(AND) maçã são frutas > AND ( em português,E)

  Outra condição demonstrada é a **NOT**

  *  🍌 Banana e maçã NÃO(NOT) são amarelas > NOT ( em português,NÃO)

###**AND** - Todas as condições verdadeiras

In [99]:
a = 1
b = 2

print('A é :',a == 1 , '|B é :',b > 1, '|então a comparação é:', a == 1 and b > 1)

print('A é :',a > 1 , '|B é :',b > 1,'|então a comparação é:', a == 1 and b < 1)

print('A é :',a >= 1 , '|B é :',b < 1,'|então a comparação é:', a == 1 and b < 1)

print('A é :',a > 1 , '|B é :',b < 1,'|então a comparação é:', a > 1 and b < 1)

A é : True |B é : True |então a comparação é: True
A é : False |B é : True |então a comparação é: False
A é : True |B é : False |então a comparação é: False
A é : False |B é : False |então a comparação é: False

###**OR** - Uma ou outra condição verdadeira

In [100]:
a = 1
b = 2

print('A é :',a == 1 , '|B é :',b > 1, '|então a comparação é:', a == 1 or b > 1)

print('A é :',a > 1 , '|B é :',b > 1,'|então a comparação é:', a == 1 or b < 1)

print('A é :',a >= 1 , '|B é :',b < 1,'|então a comparação é:', a == 1 or b < 1)

print('A é :',a > 1 , '|B é :',b < 1,'|então a comparação é:', a > 1 or b < 1)

A é : True |B é : True |então a comparação é: True
A é : False |B é : True |então a comparação é: True
A é : True |B é : False |então a comparação é: True
A é : False |B é : False |então a comparação é: False

###**NOT**  - inverte a condição

In [104]:
a = 1
b = 2

not a == 2

True

# Estruturas Condicionais

##IF/ELSE

Estruturas condicionais são muito utilizadas em qualquer linguagem de programação.

  Essas estruturas são acionadas de acordo com as condições passas , como por exemplo ;

   **SE** algo acontecer FAÇA ISSO 
     **SENÂO** FAÇA AQUILO


São os famosos **IF** e **ELSE**

In [7]:
idade = int(input('qual sua idade:'))

qual sua idade:28

In [9]:
if idade >=18:
 print('ja pode ser preso')
else: 
  print('ta no toddy')

ja pode ser preso

In [23]:
 def vestibular(nota):
    if nota >=7: aprovado = True
    else: aprovado = False

    if nota >= 7 and idade >= 18:
      print('aluno foi aprovado?', aprovado)
    else: print('refaça o teste', aprovado)

In [21]:
vestibular(10)

aluno foi aprovado? True

##ELIF

Temos também o **ELIF** , que serve para declaramos uma cadeia de condições.

In [24]:
 def vestibular(nota):
    if nota >=7: aprovado = True
    else: aprovado = False

    if nota >= 8:
      print('aluno foi aprovado com excêlencia', aprovado)
    elif nota >= 7:
      print('aluno foi aprovado com o minimo', aprovado)
    elif nota >= 5:
      print('aluno foi reprovado', aprovado)
    else: print('refaça o teste que o negocio tá ruim', aprovado)

In [26]:
vestibular(10)

aluno foi aprovado com excêlencia True

# Estruturas de repetição

##**WHILE** 
  - O termo **while** significa **enquanto**, ou seja , enquanto isso estiver acontecendo tome determinada ação.

  Vamos ao exemplo;

  * problema : Estou com fome 
  * Caso : Enquanto eu estiver com fome 
  * **Ação** : Vou comer enquanto ainda ocorrer a fome

In [43]:
a = 10

# Enquanto a for menor que 5 printa na tela o item atual
while a < 20 :
  print(a)

# acrescenta ao proximo item de 1 em 1
  a += 1

10
11
12
13
14
15
16
17
18
19

##**FOR** 
  - Laços for, diferente do while, percorrem uma lista de itens em particular combinados com a expressão in. Esses laços são muito usados com listas (que veremos mais a frente), mas também com objetos "range"

In [45]:
for a in range(10):
  print(a)

0
1
2
3
4
5
6
7
8
9

In [56]:
# começo = 0 (inclusivo)
# fim = 5 (não inclusivo)
# passo ( quantos em quantos) = 1
a = 10
for a in range(0, 7, 3):
    print(a)

0
3
6

#Funções

Funções são um dos principais elementos em uma estrutura de código , são elas que determinam os escopos de código e as rotinas executadas em cada parte do código

As funções no python utilizam a palavra reservada **def** e são compostas da seguinte maneira ▶

![image.png]()

Podemos declarar as funções de várias maneiras e as vamos observando ao longo da explicação

In [107]:
def anoDeNascimento(ano):
  print('nasci em:',ano)

In [108]:
anoDeNascimento(1994)

nasci em: 1994

In [112]:
ano = int(input('nasci em:'))
def anoDeNascimento(ano):
  if ano >= 2000:
    print('Geração y')

  elif ano >= 1980 and ano < 1999:
    print('Geração x')

  elif ano < 1980:
    print('Boomer')
  else: print('Fim')

nasci em:1994

In [114]:
anoDeNascimento(ano)

Geração x

##Parâmetros e Argumentos
  - Argumentos de funções são parametros passados para a função dentro do parenteses para serem utilizadas dentro da função

##Parâmetros

In [117]:
def minhaFuncao(param1, param2, param3):
  return param2

In [118]:
minhaFuncao(1,2,3)

2

Neste exemplo nós já passamos **valores padrão **para cada parâmetro, note que eles podem ser alterados, porém mesmo que não seja passados novos parâmetros na chamada da função (  *minhaFunção2()*. ) , ela será executada normalmente.

Este é a forma mais util de declaração e a mais comum.

In [120]:
def minhaFuncao2(param3=3, param4=4, param5=5):
  return param3

In [121]:
minhaFuncao2()

3

Na linha de código abaixo, alteramos o valor padrão do param3 , é uma tratativa possível também.

In [125]:
minhaFuncao2(param3=5)

5

##Argumentos

In [170]:
def minhaFuncao3(fruta, *args, **kwargs):
  print(f'Temos a fruta {fruta}')
  
  for arg in args:
    print(arg)
    print('_'*40)

  for keyWord in kwargs:
    print ( keyWord, ':', kwargs)

In [172]:
minhaFuncao3('maçã',
            f'você gosta dessa fruta?',
            'Não, prefiro doce',
             'qual doce?',
             doce='brigadeiro',
             local='loja')

Temos a fruta maçã
você gosta dessa fruta?
________________________________________
Não, prefiro doce
________________________________________
qual doce?
________________________________________
doce : {'doce': 'brigadeiro', 'local': 'loja'}
local : {'doce': 'brigadeiro', 'local': 'loja'}

In [154]:
def minhaFuncao4(fruta, **kwargs):
  print(f'Temos a fruta {fruta}')

  for keyWord in kwargs:
    print ( keyWord, ':', kwargs)

In [155]:
minhaFuncao4('banana', doce='brigadeiro')

Temos a fruta banana
doce : {'doce': 'brigadeiro'}

##Funções Anônimas
  -Pequenas funções anônimas podem ser criadas com a palavra-chave lambda. Esta função retorna a soma de seus dois argumentos: lambda a, b: a+b. As funções lambda podem ser usadas sempre que objetos função forem necessários. Eles são sintaticamente restritos a uma única expressão. Semanticamente, eles são apenas açúcar sintático para uma definição de função normal. Como definições de funções aninhadas, as funções lambda podem referenciar variáveis contidas no escopo:

In [176]:
def incrementador(n):
  return  n + 1
incrementador(1)

2

In [180]:
incrementadorLambda = lambda n: n + 1

incrementadorLambda(1)

2